[submodule "extra-addons/mexico"]
	path = extra-addons/mexico
	url = git@git.indboo.com:Indboo-dev/mexico.git
	branch = 12.0
[submodule "extra-addons/vendor-bills"]
	path = extra-addons/vendor-bills
	url = git@git.indboo.com:Indboo-dev/vendor-bills.git
	branch = 12.0
[submodule "extra-addons/addons-vauxoo"]
	path = extra-addons/addons-vauxoo
	url = https://github.com/Vauxoo/addons-vauxoo
	branch = 12.0
[submodule "extra-addons/account-analytic"]
	path = extra-addons/account-analytic
	url = https://github.com/OCA/account-analytic
	branch = 12.0
[submodule "extra-addons/reporting-engine"]
	path = extra-addons/reporting-engine
	url = git@github.com:onesteinbv/reporting-engine.git
	branch = 12_mig_bi_view_editor
[submodule "extra-addons/server-tools"]
	path = extra-addons/server-tools
	url = https://github.com/OCA/server-tools
	branch = 12.0
